<mat-toolbar color="primary">
    <span>Random Motivation Quote</span>
    <span class="my-spacer"></span>
    <button matTooltip="Open ZlabiDev's GitHub" (click)="openGithub()" mat-icon-button
            class="example-icon favorite-icon">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<ng-container *ngIf="(randomQuote$ | async) as randomQuote; else loadingSpinner">
    <div class="quote-card-wrapper">
        <mat-card class="quote-card">
            <mat-card-header>
                <mat-card-title>{{ randomQuote.q }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>- {{ randomQuote.a }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>

<footer class="mat-elevation-z4">
    <div class="footer-content">
        <p>&copy; {{ currentYear }} ZlabiDev</p>
    </div>
</footer>

<ng-template #loadingSpinner>
    <div class="quote-card-wrapper">
        <mat-card class="quote-card">
            <mat-card-content>
                <mat-spinner></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
